body, h1, h2, h3, h4, h5, h6, .tabs dd > a, .tabs .tab-title > a{
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #522C00;
}
.copy, .copy2, #review, .rev-text {
  font-family: 'Open-Sans', sans-serif;
  text-align: left;
}
body {
  background-image: url('img/green_cup.png');
}
a , a:hover {
  color: #8B4A00;
}
.top-bar-section ul li > a {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
#add-partial {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.button-add {
  font-size: 0.875rem;
  padding: .7rem 2rem;
}
.button.friend {
  background-color: rgba(200, 200, 200, .2);
  border-radius: 10px;
  border-color: transparent;
}
.button.friend.profile {
  margin: .5rem 0 0 0;
  color: #8B6436;
}
.button.friend.profile.success {
  color: #6A6E7C;
}
.button-text {
  margin-left: .3rem;
}
.friend {
  padding: .5rem;
  margin-left: 2rem;
  margin-bottom: 0;
}
.centered {
  text-align: center;
}
.date {
  margin-top: -3rem;
}
.e-right {
  float: right;
}
#error {
  position: absolute;
  width: 50%;
  left: 25%;
  height: 40%;
  top: 30%;
}
#favorites {
  width: 100%;
}
tr {
  height: 2rem;
}
.heavy {
  font-weight: 600;
}
.home-headers{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
  font-size: 1.25rem;
}
hr {
  border: solid #8B6436;
  border-width: 1px 0 0;
  color: #8B6436;
  margin: 1rem 0;
  clear: both;
}
.img-add {
  height: 1.5rem;
  margin: 0;
}
.img-arrow {
  height: 1rem;
  margin-left: .5rem;
}
.img-choose {
  height: 7.5rem;
  width: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}
.img-circle {
  border-radius: 50%;
}
.img-logo {
  opacity: .5;
  margin: 0 auto;
}
.img-teaoverlay {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
.img-large {
  height: 12rem;
}
.img-spaced {
  margin-bottom: 3rem;
}
.img-star {
  height: 2rem;
  margin: 1rem 0;
}
.img-star-large {
  height: 4rem;
  margin: 1rem 0;
}
.img-tea {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.img-tealarge {
  border-radius:10px;
}
.info {
  font-size: 1.1rem;
}
input#nav-search, input#addSearch {
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
}
.tabs .tab-title a:hover {
  background-color: #efefef;
}
.tabs .tab-title.active a:hover {
  background-color: #dedede;
}
textarea#review {
  border-radius: 10px;
}
#nav-search {
  padding: 0;
}
.offset {
  margin-top: .5rem;
}
.panel {
  border: solid #8B6436;
  border-width: 0;
  background-color: rgba(200, 200, 200, 0.2);
}
plabel {
  color: #8B6436;
}
.profile h1 {
  font-size: 2.25rem;
}
.review {
  padding: 0 1rem;
}
.review-button {
  color: #522B00;
}
.review-button:hover {
  color: #522B00;
}
.rev-text {
  text-align: left;
}
.secondary-text {
  font-size: 0.875rem;
  color: #4d4d4d;
}
.spaced {
  margin-top: 2rem;
}
.super {
  font-size: 5rem;
}
.tabs-content {
  background-color: rgba(200, 200, 200, 0.2);
  padding:.5rem 1.75rem;
}
textarea {
  height: auto;
}
.top-space {
  height: 10%;
}
.tabs dd.active a, .tabs .tab-title.active a {
    background-color: transparent;
    color: #8B6436;
}
button, .button {
  background: rgba(46, 80, 18, 0.5);
  border: 1px solid;
  border-color: transparent;
  border-radius:10px;
}
button:hover, .button:hover {
  background-color: #2E5012;
}
button.postfix, .button.postfix {
  border-radius: 0 10px 10px 0;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #2E5012;
}
button.success, .button.success {
  background: rgba(46, 80, 18, 1);
  border-color: transparent;
  color: #FFFFFF;
}
select#selectFav {
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
}
.top-bar-section .has-form {
  background: transparent;
  color: transparent;
}
.top-bar {
  background: rgba(46, 80, 18, 1);
}

.top-bar.expanded ul.title-area{
  background: rgba(46, 80, 18, 1);
}

.top-bar.expanded section.top-bar-section li {
  background: rgba(46, 80, 18, .5);
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form)   a:not(.button) {
    background: rgba(46, 80, 18, 1);
  }
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: rgba(46, 80, 18, 0.7);
  }
}
.tabs dd > a, .tabs .tab-title > a , .tabs dd > a:hover, .tabs .tab-title > a:hover{
  background-color: rgba(200, 200, 200, 0.2);
}

.mob-space {
  background-color: rgba(200, 200, 200, 0.2);
}


@media only screen and (max-width: 64em) {
  .button.friend.profile {
    margin: 0 0 .5rem 0;
  }
  .mob-space {
    margin-top: 10%;
  }
  .home-headers {
    margin-left: 1rem;
  }
  hr {
    border: solid #8B6436;
    border-width: 1px 0 0;
    color: #8B6436;
    margin: 1rem 0;
    clear: both;
  }
  .e-right {
    font-size: .875rem;
  }
}